.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

.container {
    background-color: rgba(52, 51, 51, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin: auto;
    padding: 10px; 
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    text-align: right;
    font-family: monospace;
    max-width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.operator {
    background-color: #ff9900;
    color: white;
}

.equals {
    background-color: #0066cc;
    color: white;
}
